<footer class="footer">
  <nav>
    <ul>
      <li>
        <button class="cnop" data-toggle="modal" data-target="#myModal">
          Contacts
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" style="height: auto">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Contacts</h4>
              </div>
              <div class="modal-body">
                <!-- contact body -->
                <h1>How to find us:</h1>
                <div style="display: inline-flex">
                  <div style="text-align: center">
                    <h4>International Ataturk Alatoo University, Ankara Street 1/8, Tunguch, 720048, Bishkek, Kyrgyz Republic</h4>
                    <p>Tel: +996 (312) 631425</p>
                    <p>Fax: +996(312) 630409</p>
                    <p>E-mail: info@iaau.edu.kg</p>

                  </div>

                  <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps?f=q&amp;source=s_q&amp;hl=ru&amp;q=%D0%B0%D1%82%D0%B0%D1%82%D1%8E%D1%80%D0%BA+%D0%B0%D0%BB%D0%B0%D1%82%D0%BE%D0%BE&amp;aq=&amp;sll=42.863383,74.688578&amp;sspn=0.036741,0.084543&amp;ie=UTF8&amp;t=m&amp;st=105250506097979753968&amp;rq=1&amp;ev=zi&amp;split=1&amp;radius=2.57&amp;hq=%D0%B0%D1%82%D0%B0%D1%82%D1%8E%D1%80%D0%BA+%D0%B0%D0%BB%D0%B0%D1%82%D0%BE%D0%BE&amp;hnear=&amp;cid=8080465324218303913&amp;ll=42.863886,74.683428&amp;spn=0.030198,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
                  <small><a href="https://maps.google.com.ua/maps?f=q&amp;source=embed&amp;hl=ru&amp;q=%D0%B0%D1%82%D0%B0%D1%82%D1%8E%D1%80%D0%BA+%D0%B0%D0%BB%D0%B0%D1%82%D0%BE%D0%BE&amp;aq=&amp;sll=42.863383,74.688578&amp;sspn=0.036741,0.084543&amp;ie=UTF8&amp;t=m&amp;st=105250506097979753968&amp;rq=1&amp;ev=zi&amp;split=1&amp;radius=2.57&amp;hq=%D0%B0%D1%82%D0%B0%D1%82%D1%8E%D1%80%D0%BA+%D0%B0%D0%BB%D0%B0%D1%82%D0%BE%D0%BE&amp;hnear=&amp;cid=8080465324218303913&amp;ll=42.863886,74.683428&amp;spn=0.030198,0.054932&amp;z=14&amp;iwloc=A" style="font-size:40px;"><span class="glyphicon glyphicon-fullscreen" "></span></a></small>
                  </div>
                <!--/ contact body -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </li>




      <li><!-- Button trigger modal -->
        <button class="cnop" data-toggle="modal" data-target="#myModal1">
         News
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel1">IAAU News</h4>
              </div>
              <div class="modal-body">
                <iframe style="width: 100%; height: 100%;" src="http://www.iaau.edu.kg/view/public/news/news.xhtml;jsessionid=k6qVEDFFk-kZQFaoRyYM1ypO.undefined?id=725"> </iframe>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </li>
    </ul>
  </nav>
</footer>